.events-container {
    background-color: rgb(11,18,21);
    padding: 20px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.events-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: left;  /* Align text to the left */
    margin-left: 170px; /* Adjust this value to move it further left */
}

.events-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: fit-content;
}

.event {
    position: relative; /* Make this the positioned element */
}

.event-item {
    background-color: #fff;
    border-radius: 0px;
    overflow: hidden;
    color: #333;
    width: 70%;
    height: 140px;
    margin: auto;
    padding-left: 100px; /* Provide space for the larger date overlay */
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-date {
    position: absolute;
    bottom: 20px; 
    left: 13%; 
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px; 
    height: 160px; 
    z-index: 1; 
    border-radius: 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.event-month {
    font-size: 32px;
    font-weight:500;
    margin: 0;
}

.event-day {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}

.event-details {
    flex: 1;
    /*padding: 15px 15px 15px 0;*/
    text-align: left;  /* Align text to the left */
    margin-left: 80px; 
}

.event-title {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
    text-align: left;  
    color: black;
}

.event-location {
    font-size: 1.25rem;
    color: #555;
}

.event-link {
    padding-right: 15px;
}

.details-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size:20px;
    text-align: bottom;
    margin-bottom:5px;

}

.details-link:hover {
   margin-bottom:5px;
}

.event-graybox {
    position: absolute;
    right: 11%; 
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px; 
    height: 140px; 
    z-index: 1; 
    border-radius: 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
